body {
  background-image: url("../img/pattern.jpg");
  background-size: contain;
}

header {
  background-color: white;
  display: inline-block;
  top: 0px;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0px;

}

h1 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: black;
 }
img {
  margin : right: auto;
}
nav {
  float: right;
  display: inline-block;
  margin-right: 12px;
  padding-top: 5px;
}
nav ul {
  display: flex;
  flex-direction: row-reverse;
}

nav ul li {
  margin: 0px 5px;
  list-style: none;
}

li{
  display: inline;
  padding: 0 10 0 10;
}

section {
  width: 80%;
  margin: 80px 150px 20px 150px;
  background-color: white;

}

.contact {
  width: 50%;
  margin: 80px 80px 20px 320px;
  background-color: white;
}

footer {
  background-color: black;
  width: auto;
  text-decoration: none;
  padding: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

h3{
  text-decoration : underline;
  font-weight: bold;
}

#article-list{
  background-color: white;
  margin: 0 100 0 100;
}

article {
  border-bottom: 1px solid #dfdfdf;
  text-align: justify;
  padding: 15px;
  font-family: arial;
  font-size: 14px;

}
